<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark shadow-sm" style="background-color: #356AA0;">
    <div class="container d-flex justify-content-between">
      <a routerLink="" class="navbar-brand d-flex align-items-center" style="font-family: serif;">
        <strong>PROYECTO FINAL SOA</strong>
      </a>
      
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container" style="font-family:cursive;">
      <img
      width="250"
      alt="Esfot Logo"
      src="https://sismantlab.com/img/logo_esfot_rectificado.png"
    />
      <br>
      <br>
      <h1>Aplicación de Restaurantes</h1>
      <br>
      <p>
        <a routerLink="restaurantes" class="btn btn-primary my-2">Restaurantes</a>
        <br>
        <a routerLink="" class="btn btn-secondary my-2">Inicio</a>
      </p>
    </div>
  </section>


</main>

<router-outlet></router-outlet>

<hr>
<footer class="text-muted" style="background-color: #6596c7;">
    <div class="container" style="color: white; font-family: serif;">
      <h2 class="text-center">Arquitectura Orientada a Servicios</h2>
      <h3>Integrantes: </h3>
      <ul style="list-style-type: square;">
        <li><h5>Amagua Jhoel</h5></li>
        <li><h5>Curipoma David</h5></li>
        <li><h5>Guamba Cristian</h5></li>
        <li><h5>Soto Wendy</h5></li>
      </ul>
      
      <p>Repositorio <a href="https://github.com/wendysoto/ProyectoFinalSOA" style="color: darkblue;">GitHub</a></p>
    </div>
  </footer>